@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./null.css";

body {
  background-color: #fff3d9;
  font-family: "Happy Monkey", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #2c5394;
}

.container {
  max-width: 1230px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 640px) {
  .container {
    padding: 0 8px;
  }
}


.custom-scrollbar::-webkit-scrollbar {
  width: 8px; 
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #FFBB4D;
  border-radius: 10px; 
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #fff3d9; 
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-button {
  display: none;
}
